<template lang="pug">
	.full
		v-container
			transition(name="fade")
				v-preloader(v-if='isLoading')
			transition(name="fade")
				.full__container(v-if='!isLoading')
					span.full__poster
						img.full__img(:src="fullInfo.Poster !=='N/A' ? fullInfo.Poster : '/img/no-img.png'")
						v-button-default.full__button(@on-press="back") Назад
					.full__content
						span(v-for='(info, key ) in fullInfo' v-if='info !== "N/A" && key !== "Poster"')
							v-title {{ key }} &nbsp;
							| {{ info }}

</template>

<script lang="ts">
	import Vue from 'vue'
	import Component from 'vue-class-component'
	import { namespace } from 'vuex-class'
	import { Watch } from 'vue-property-decorator'
	import { IMovieFull } from '../../interfaces/search'
	import { Actions } from './store/types'
	import Container from '../../components/layout/Container.vue'
	import ButtonDefault from '../../components/buttons/ButtonDefault.vue'
	import Preloader from '../../components/Preloader.vue'
	import Title from '../../components/typography/Title.vue'
	const searchModule = namespace('search');

	@Component({
		components: {
			'v-container': Container,
			'v-preloader': Preloader,
			'v-button-default': ButtonDefault,
			'v-title': Title
		}
	})
	export default class Content extends Vue {
		@searchModule.Action(Actions.GET_FULL_RESULT) getFullResult: any
		@searchModule.State(state => state.fullInfo) fullInfo!: IMovieFull

		protected isLoading = true

		private mounted() {
			this.getFullResult({ i: this.$route.query.imdbID})
		}

		private back() {
			this.$router.push({
				path: '/',
				query: { request: this.$route.query.request, page: this.$route.query.page }
			})
		}

		@Watch('fullInfo')
		fullInfoWatch() {
			this.isLoading = false
		}
	}
</script>

<style scoped lang="scss">
	@import "../../stylesheets/media.scss";

	.full {
		border-top: 20px solid #333;
	}

	.full__container {
		display: grid;
		justify-content: flex-start;
		margin: 30px auto;

		@include at('middle') {
			grid-template-columns: 1fr 2fr;
		}

		@include below('middle') {
			grid-template-rows: repeat(3, auto);
			grid-template-columns: 1fr;
			grid-row-gap: 20px;
		}
	}

	.full__img {
		width: 100%;
		max-width: 350px;
		@include below('xsmall') {
			justify-self: center;
		}
	}

	.full__content {
		display: grid;
		grid-template-rows: repeat(2, auto);
		grid-row-gap: 17px;
		align-self: flex-start;
		padding: 15px 15px 0;
	}

	.full__button {
		width: 100%;
		max-width: 350px;
		margin-top: 10px;

		@include below('xsmall') {
			justify-self: center;
		}
	}

	.full__poster {
		@include below('middle') {
			display: grid;
			grid-template-columns: 1fr;
		}
	}
</style>
