<template lang="pug">
.search
	.search__input
		v-container
			v-search-input(@search="search")
	v-container
		transition(name='fade')
			v-preloader(v-if='isLoading')
		transition(name='fade')
			.search__message(v-if='!isLoading') {{ message }}
		.search__results(:class='{ "is-loading": isLoading }')
			v-result(
				:result='result'
				:key='result.index'
				v-for='result in results'
			)
		transition(name='fade')
			v-pagination(v-show='!isLoading' @toggleLoading='toggleLoading')
</template>

<script lang="ts">
	import Vue from 'vue'
	import Component from 'vue-class-component'
	import { Watch } from 'vue-property-decorator'
	import { namespace } from 'vuex-class'
	import { IMovie } from '../../interfaces/search'
	import { Actions } from './store/types'
	import Result from '../../components/Result.vue'
	import Container from '../../components/layout/Container.vue'
	import SearchInput from '../../components/controls/SearchControl.vue'
	import Pagination from '../../components/Pagination.vue'
	import Preloader from '../../components/Preloader.vue'
	import Title from '../../components/typography/Title.vue'
	const searchModule = namespace('search');

	@Component({
		components: {
			'v-container': Container,
			'v-result': Result,
			'v-pagination': Pagination,
			'v-preloader': Preloader,
			'v-search-input': SearchInput,
			'v-title': Title
		}
	})
	export default class Content extends Vue {
		@searchModule.Action(Actions.GET_RESULTS) getResults: any
		@searchModule.State(state => state.results) results!: Array<IMovie>
		@searchModule.State(state => state.statusResponse) statusResponse!: string

		protected message: string = ''
		protected isLoading: boolean = false


		private search(request: string) {
			this.$router.push({ query: { request: request }})
			this.isLoading = true
			this.getResults({ s: request })
		}

		private toggleLoading() {
			this.isLoading = true
		}

		private mounted() {
			if(this.results.length === 0) {
				this.message = 'Введите поисковый запрос'
			}
		}

		@Watch('results')
		watchResults() {
			this.$route.query.request!=='' && this.results.length === 0 ?
				this.message = 'По вашему запросу ничего не найдено' :
				this.results.length === 0 ? this.message = 'Введите поисковый запрос' :
					this.message = ''
			this.isLoading = false
		}
	}
</script>

<style lang="scss">
	@import "../../stylesheets/media";

	.search__message {
		position: absolute;
		top:0;
		left: 10px;
		width: 100%;
		font-size: 18px;
		font-weight: 500;
	}

	.search__results {
		display: grid;
		grid-row-gap: 20px;
		margin: 30px 0;
	}

	.search__input {
		padding:  10px 0;
		background: #333;
	}

	.is-loading {
		opacity: 0.3;
	}
</style>
