<template lang="pug">
  button.button(@click="onPress")
    slot
</template>

<script lang="ts">

import { Vue, Component, Emit } from 'vue-property-decorator'

@Component
export default class ButtonDefault extends Vue {
	@Emit()
  private onPress() : void {}
}

</script>

<style scoped lang="scss">
	.button {
		padding: 7px 15px;
		font-size: inherit;
		font-weight: bold;
		line-height: 1.2;
		white-space: nowrap;
		color: rgb(255, 255, 255);
		background: #00ade4;
		text-shadow: 0 2px 2px rgba(2, 89, 117, 0.6);
		border: none;
		cursor: pointer;
	}
</style>
