<template lang="pug">
	span.title
		slot
</template>

<script lang="ts">
	import { Vue, Component } from 'vue-property-decorator'
	@Component
	export default class Title extends Vue {}
</script>

<style scoped lang="scss">
	.title {
		font-size: 18px;
		font-weight: bold;
		line-height: 1.2;
	}
</style>
