<template lang="pug">
	.container
		slot
</template>

<script lang="ts">
	import { Vue, Component } from 'vue-property-decorator'
	@Component
	export default class Container extends Vue {}
</script>

<style scoped lang="scss">
	.container {
		position: relative;
		width: 100%;
		max-width: 1024px;
		padding: 0 10px;
		margin: 0 auto;
	}
</style>
