<template lang="pug">
	footer
</template>

<script lang="ts">
	import { Vue, Component } from 'vue-property-decorator'
	@Component
	export default class Footer extends Vue {}
</script>

<style scoped lang="scss">
	footer {
		background: #333;
		height: 125px;
	}
</style>
