<template lang="pug">
	header
		a.header__logo(href='/')
			img(src='../../assets/logo.png')
</template>

<script lang="ts">
	import Vue from 'vue'
	import Component from 'vue-class-component'

	@Component
	export default class Header extends Vue {}
</script>

<style scoped lang="scss">
	@import "../../stylesheets/media.scss";

	header {
		padding: 23px 0;
	}

	.header__logo {
		display: flex;
		justify-content: center;
		align-items: center;

		img {
			width: 150px;
			max-width: 90%;
		}
	}
</style>
