<template lang="pug">
	input.search(placeholder='Минимум 3 символа' type='search' v-model='request' @keyup.enter='search(request)' )
</template>

<script lang="ts">

	import { Vue, Component, Emit } from 'vue-property-decorator'

	@Component
	export default class SearchControl extends Vue {
		protected request: string = ''

		@Emit('search')
		private search(request: string) {
			return request
		}
	}

</script>

<style scoped lang="scss">
	.search {
		width: 100%;
		height: 40px;
		font-size: inherit;
		padding:  0 45px;
		background: #fff url('../../assets/icons/search.svg') no-repeat 10px center / 25px;
	}

	.blue {
		background: #00ade4;
	}

	.green {
		background: #29d807;
	}
</style>
