$scales: ('xsmall': 480px, 'small': 600px, 'middle': 768px, 'large': 1024px, 'xlarge': 1380px, 'hd': 1800px) !default;

@mixin at($scale) {
  @if type-of($scale) == string {
    $breakpoint: map-get($scales, $scale);

    @media (min-width: $breakpoint) {
      @content;
    }
  }

  @else {
    $breakpoint: $scale;

    @media (min-width: $breakpoint) {
      @content;
    }
  }
}

@mixin below($scale) {
  @if type-of($scale) == string {
    $breakpoint: map-get($scales, $scale) - 1;

    @media (max-width: $breakpoint) {
      @content;
    }
  }

  @else {
    $breakpoint: $scale - 1;

    @media (min-width: $breakpoint) {
      @content;
    }
  }
}

@mixin between($scale-min, $scale-max) {
  @if type-of($scale-min) == string and type-of($scale-max) == number {
    $bp-min: map-get($scales, $scale-min);
    $bp-max: $scale-max - 1;

    @media (min-width: $bp-min) and (max-width: $bp-max) {
      @content;
    }
  }

  @if type-of($scale-min) == string and type-of($scale-max) == string {
    $bp-min: map-get($scales, $scale-min);
    $bp-max: map-get($scales, $scale-max) - 1;

    @media (min-width: $bp-min) and (max-width: $bp-max) {
      @content;
    }
  }

  @if type-of($scale-min) == number and type-of($scale-max) == string {
    $bp-min: $scale-min;
    $bp-max: map-get($scales, $scale-max) - 1;

    @media (min-width: $bp-min) and (max-width: $bp-max) {
      @content;
    }
  }

  @if type-of($scale-min) == number and type-of($scale-max) == number {
    $bp-min: $scale-min;
    $bp-max: $scale-max - 1;

    @media (min-width: $bp-min) and (max-width: $bp-max) {
      @content;
    }
  }
}
