<template lang="pug">
	.pagination(v-if='pages > 1')
		.pagination__container
			.pagination__index(v-for='page in pages' v-if="page < current + 3 && page > current - 3 || page === 1 || page === pages || current < 5 && page < 7 || page > pages - 6 && current > pages - 4")
				span(v-if='page === pages && current < pages - 3 && pages > 7') ...
				span(
					@click='pagination(page)'
					:class =' { "active" : page === current }'
					v-scroll-to='{el: "header", container: "body", duration: 200, easing: "ease"}'
					) {{ page }}
				span(v-if='page === 1 && current > 4 && pages > 7') ...
</template>

<script lang="ts">
	import Vue from 'vue'
	import Component from 'vue-class-component'
	import { Actions } from '../modules/search/store/types'
	import { Prop, Emit, Watch } from 'vue-property-decorator'
	import { namespace } from 'vuex-class'
	import VueScrollTo from 'vue-scrollto'
	const searchModule = namespace('search')
	Vue.use(VueScrollTo)

	@Component
	export default class Pagination extends Vue {
		@searchModule.State(state => state.total) total!: number
		@searchModule.Action(Actions.GET_RESULTS) getResults: any

		protected current: any = 1

		private get pages() {
			this.current = 1
			return Math.ceil(this.total / 10)
		}

		private mounted() {
			if (this.$route.query.page) { this.current = this.$route.query.page }
		}

		@Emit('toggleLoading')
		toggleLoading(){}

		private pagination(page: any) {
			this.toggleLoading()
			this.$router.push({ query: { page: page, request: this.$route.query.request }})
			this.getResults({ s: this.$route.query.request, page: page })
				.then(() => { this.current = page })
		}
	}
</script>

<style scoped lang="scss">
	.pagination {
		display: flex;
		justify-content: center;
		padding-bottom: 40px;
	}

	.pagination__container {
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}

	.pagination__index {
		span {
			margin: 0 5px;
			color: #00ade4;
			line-height: 1.2;
			cursor: pointer;

			&.active {
				color: inherit;
				pointer-events: none;
			}
		}
	}
</style>