<template lang="pug">
	.preloader
		img.preloader__img(src="../assets/icons/preloader.svg")

</template>

<script lang="ts">

	import Vue from 'vue'
	import Component from 'vue-class-component'

	@Component
	export default class Preloader extends Vue {}
</script>

<style scoped lang="scss">
	.preloader {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	.preloader__img {
		position: absolute;
		top: 40px;
		left: 50%;
		transform: translateX(-50%);
	}

</style>
