<template lang="pug">
	.result
		img.result__img(:src="result.Poster !=='N/A' ? result.Poster : '/img/no-img.png'")
		.result__content
			span
				v-title Title &nbsp;
				| {{ result.Title }}
			span
				v-title Year &nbsp;
				| {{ result.Year }}
			v-button-default.result__button(@on-press="read") Смотреть полностью
</template>

<script lang="ts">
	import Vue from 'vue'
	import Component from 'vue-class-component'
	import { Prop } from 'vue-property-decorator'
	import { IMovie } from '../interfaces/search'
	import ButtonDefault from './buttons/ButtonDefault.vue'
	import Title from '../components/typography/Title.vue'

	@Component({
		components: {
			'v-button-default' : ButtonDefault,
			'v-title' : Title
		}
	})
	export default class Result extends Vue {
		@Prop({ default: {} }) result!: IMovie
		@Prop({ default: false }) full!: boolean

		private read() {
			this.$router.push({
				path:'/full',
				query: {
					request: this.$route.query.request,
					imdbID: this.result.imdbID,
					page: this.$route.query.page
				}
			})
		}
	}
</script>

<style scoped lang="scss">
	@import "../stylesheets/media.scss";

	.result {
		display: grid;
		justify-content: flex-start;

		& + & {
			padding-top: 20px;
			border-top:1px solid rgb(212, 212, 212);
		}

		@include at('middle') {
			grid-template-columns: repeat(2, auto);
		}

		@include between('xsmall', 'middle') {
			grid-template-rows: repeat(2, auto);
			grid-template-columns: 1fr 4fr;
			grid-row-gap: 20px;
		}

		@include below('xsmall') {
			grid-template-rows: repeat(3, auto);
			grid-template-columns: 1fr;
			grid-row-gap: 20px;
		}
	}

	.result__img {
		width: 150px;

		@include below('xsmall') {
			justify-self: center;
		}
	}

	.result__content {
		display: grid;
		grid-template-rows: repeat(2, auto);
		grid-row-gap: 17px;
		align-self: flex-start;
		padding: 15px 15px 0;
	}

	.result__button {
		justify-self: flex-start;

		@include below('xsmall') {
			justify-self: center;
		}
	}
</style>
