<template lang="pug">

#app
	transition(name="fade")
		.grid-layout(v-if='isLoading')
			v-header
			router-view
			v-footer
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import Content from './modules/search/SearchViews.vue'
import Header from './components/layout/Header.vue'
import Footer from './components/layout/Footer.vue'

@Component({
  components: {
    'v-content': Content,
    'v-header': Header,
    'v-footer': Footer
  }
})
export default class App extends Vue {
	protected isLoading: boolean = false

	private mounted() {
		this.isLoading = !this.isLoading
	}
}
</script>

<style lang="scss">
	* {
		box-sizing: border-box;
	}

	body {
		font-family: Arial, sans-serif;
		font-size: 16px;
		color: #000;
		margin: 0;
		line-height: 1.5;
	}

	.grid-layout {
		min-height: 100vh;
		display: grid;
		grid-template-rows: auto 1fr auto;
	}

	.fade-enter-active, .fade-leave-active {
		transition: opacity 0.4s ease-in-out;
	}

	.fade-enter, .fade-leave-to {
		opacity: 0;
	}
</style>
